<h3>Welcome to the Touch Point Doctors Group!</h3>

<% @doctors.each do |doctor|%>
	<p>
<%= link_to doctor.name, doctor_url(doctor)%>
<%= link_to "Edit", edit_doctor_url(doctor)%> 
<%= link_to "Delete", doctor_url(doctor), method: :delete%>
	</p>

<% end %>

<%= link_to "New Doctor", new_doctor_path, class: 'btn btn-sm btn-success' %>